@tailwind base;
@tailwind components;
@tailwind utilities;

.font-helvetica1 {
  font-family: var(--font-helvetica1);
}

.font-helvetica2 {
  font-family: var(--font-helvetica2);
}
.font-helvetica3 {
  font-family: var(--font-helvetica3);
}
