.playgame {
  background-image: linear-gradient(#545061, #000000);
  padding-top: 6.25em;
}
.bg-mobile {
  background-image: url("/mobile.png");
}

@media only screen and (max-width: 600px) {
  .bg-mobile {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
